<h2>全部課程</h2>

<div class="col-md-12">

  <table class="table table-hover">

    <thead>
      <tr>
        <td>#</td>
        <td>課程 Title</td>
        <td>課程 Description</td>
        <td>開課日期</td>
        <td>花費點數</td>
        <td>預約課程</td>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.id %></td>
          <td><%= link_to(course.title, course_path(course)) %></td>
          <td><%= course.description %></td>
          <td><%= course.date %></td>
          <td><%= course.cost %></td>
          <td><%= render_reserve_btn(course) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
