<div class="col-md-12">
  <div class="group">
    <%= link_to("預約課程", "#", class: "btn btn-primary pull-right")%>
  </div>
  <h2>課程主題：<%= @course.title %></h2>
  <p>課程大綱：<%= @course.description %></p>
  <p>開課時間：<%= @course.open_date %></p>
  <p>花費點數<%= @course.cost_chip %></p>
</div>
